<html>

  <body>
    <header>
      <div id="preset" style="flex:1">
        <details id="global">
          <summary>글로벌 설정</summary>
          <p style="--indent: 5px;"> 사용시 체크
            <br>
            <input type="checkbox" v-model="isUsingColor1">
            <input type="color" v-model="color1"> Color 1
            <br>
            <input type="checkbox" v-model="isUsingColor2">
            <input type="color" v-model="color2"> Color 2
            <br>
            <input type="checkbox" v-model="isUsingColor3">
            <input type="color" v-model="color3"> Color 3
            <br>
            <input type="checkbox" v-model="isUsingColor4">
            <input type="color" v-model="color4"> Color 4
            <br>
            <input type="checkbox" v-model="isUsingColor5">
            <input type="color" v-model="color5"> Color 5
            <br>
            <input type="checkbox" v-model="isUsingColor6">
            <input type="color" v-model="color6"> Color 6
          </p>
          <p style="--indent: 20px;">
            <input type="checkbox"> Global Border Radius :
            <br>
            <input type="number" style="width: 45px" value="3" v-model="globalBorderRadius">px
          </p>
          <br>
        </details>
        <details id="cursor">
          <summary>마우스 커서</summary>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingSingleCursor"> 단일 마우스 커서
            <br>
            <input type="text" v-model="urlCustomCursorImage"> 단일 커서 이미지 주소
            <br>
            x:<input type="number" style="width: 40px" value="0" v-model="singleCursorX">
            , y:<input type="number" style="width: 40px" value="0" v-model="singleCursorY">
          </p>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingMultiCursor"> 상황별 마우스 커서
            <br>
            <input type="text" v-model="urlCustomCursorImage"> 기본 커서 이미지 주소
            <br>
            x:<input type="number" style="width: 40px" value="0" v-model="pointerCursorX">
            , y:<input type="number" style="width: 40px" value="0" v-model="pointerCursorY">
            <br>
            <input type="text" v-model="urlCustomCursorImage"> 링크 커서 이미지 주소
            <br>
            x:<input type="number" style="width: 40px" value="0" v-model="linkCursorX">
            , y:<input type="number" style="width: 40px" value="0" v-model="linkCursorY">
            <br>
            <input type="text" v-model="urlCustomCursorImage"> 텍스트 커서 이미지 주소
            <br>
            x:<input type="number" style="width: 40px" value="0" v-model="textCursorX">
            , y:<input type="number" style="width: 40px" value="0" v-model="textCursorY">
          </p>
          <br>
        </details>
        <details id="scroll">
          <summary>스크롤 및 스크롤바</summary>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingCustomLogoImage"> 커스텀 스크롤바
            <br>
            <input type="number" style="width: 45px" value="12" v-model="numScrollbarWidth">px; 스크롤바 폭, 높이
            <br>
            <input type="color" value="#f3f2f0" v-model="numScrollbarBackgroundColor"> 스크롤바 배경색
            <br>
            <input type="color" value="#6441a5" v-model="numScrollbarColor"> 스크롤바 색
          </p>
          <p style="--indent: 0px;">
            <input type="checkbox" v-model="isUsingSmoothScroll"> 부드러운 스크롤
          </p>
          <br>
        </details>
        <details id="topBanner">
          <summary>상단 배너</summary>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingCustomBannerImage"> 커스텀 이미지 사용 (사용시 체크)
            <br>
            <input type="text" v-model="urlCustomBannerImage"> 라이트모드 이미지 주소
            <br>
            <input type="text" v-model="urlCustomBannerImageDark"> 다크모드 이미지 주소
          </p>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingCustomBannerColor"> 배경색 사용
            <br>
            <input type="text" v-model="CustomBannerColor"> 라이트모드 배경색
            <br>
            <input type="text" v-model="CustomBannerColorDark"> 다크모드 배경색
          </p>
          <br>
        </details>
        <details id="logo">
          <summary>트게더 로고</summary>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingCustomLogoImage"> 커스텀 이미지 사용 (사용시 체크)
            <br>
            <input type="text" v-model="urlCustomLogoImage"> 라이트모드 이미지 주소
            <br>
            <input type="text" v-model="urlCustomLogoImageDark"> 다크모드 이미지 주소
          </p>
          <p style="--indent: 20px;">
            <input type="checkbox" v-model="isUsingCustomLogoFilter"> 로고 색 변경(필터) #6441a5 -> @
            <br>
            <input type="text" v-model="CustomLogoFilter"> 라이트모드 로고 색
            <br>
            <input type="text" v-model="CustomLogoFilterDark"> 다크모드 로고 색
          </p>
          <br>
        </details>
      </div>
      <div id="custom" style="flex:1">
        custom CSS
        <br>
        <textarea id="customcss" cols="30" rows="10" style="width:100%"></textarea>
        <br>
        <button>
        현재 CSS 복사
        </button>
      </div>
    </header>
    <div class="main">
      <iframe src="https://playcosmos.github.io/tgdmaker/base.html" name="base" width="100%" height="640px" style="border:none">
      </iframe>
    </div>
  </body>

</html>
