:root{
    --mainColor: #6441a5;
    --bgColor: #f6f0ff;
  }
  
  ::selection { background-color: var(--mainColor); color: #fff}
  
  header { display: inline-block;
  }
  
  :is(details) div {
    padding: 0 var(--indent);
    text-indent: calc(var(--indent)*-1);
    margin: 5px 2px;
  }
  
  details {
    border: 1px solid #aaa;
    border-radius: 10px;
    margin: 1px;
    transition: 0.4s;
  }
  
  summary {
    font-weight: bold;
    padding: 0.2em 0.5em;
    transition: 0.4s;
  }
  
  details[open] > summary {
    border-bottom: 1px solid #aaa;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    background-color: var(--bgColor);
  }
  
  div.main {
    padding-top: 1em;
  }
  
  input[type="text"] {
    margin-top: 0.5em;
  }
  
  table {
    border-collapse: collapse;
    text-align: center;
  }
  
  table tbody {
    display: table-row-group;
    vertical-align: center;
  }
  
  table td {
    border: 1px solid #ddd;
  }
  
  select option[name="color1"] {}
  
  select option[name="color2"] {}
  
  select option[name="color3"] {}
  
  select option[name="color4"] {}
  
  select option[name="color5"] {}
  
  select option[name="color6"] {}
  
  select option[name="other"] {}
  
  textarea{ margin: 2px 0; resize:vertical; }
