/* 마우스 커서 포인터 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
{
	animation: infinite normal 3s;
}


/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
	animation: infinite link 3s;
}



/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
{
	animation: infinite text 3s;
}

@keyframes normal {
	0% {
		cursor: url(./cursors/normal_purple.png) 8 9, auto !important;
	}
	20% {
		cursor: url(./cursors/normal_red.png) 8 9, auto !important;
	}
	40% {
		cursor: url(./cursors/normal_gold.png) 8 9, auto !important;
	}
	60% {
		cursor: url(./cursors/normal_blue.png) 8 9, auto !important;
	}
	80% {
		cursor: url(./cursors/normal_green.png) 8 9, auto !important;
	}
}

@keyframes link {
	0% {
		cursor: url(./cursors/link_purple.png) 8 9, auto !important;
	}
	20% {
		cursor: url(./cursors/link_red.png) 8 9, auto !important;
	}
	40% {
		cursor: url(./cursors/link_gold.png) 8 9, auto !important;
	}
	60% {
		cursor: url(./cursors/link_blue.png) 8 9, auto !important;
	}
	80% {
		cursor: url(./cursors/link_green.png) 8 9, auto !important;
	}
}

@keyframes text {
	0% {
		cursor: url(./cursors/text_purple.png) 8 9, auto !important;
	}
	20% {
		cursor: url(./cursors/text_red.png) 8 9, auto !important;
	}
	40% {
		cursor: url(./cursors/text_gold.png) 8 9, auto !important;
	}
	60% {
		cursor: url(./cursors/text_blue.png) 8 9, auto !important;
	}
	80% {
		cursor: url(./cursors/text_green.png) 8 9, auto !important;
	}
}
