/**** Designed by Million_Air in Twitch ****/
/******* Discord me Million_Air#9087 *******/

/* 모듈 */
@font-face {
	font-family: 'NanumSquareRoundEB';
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff2) format('woff2'),
		url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff) format('woff')
}

/* 기본 설정 */
:root {
	--maincolor: #31405a;	/* 메인색 */
	--subcolor: #cad3e2;	/* 서브색 */
	--bgcolor: #e7eaef;	/* 배경색 */
}

@media (max-width: 1150px) {
	:root {
	--maincolor: #31405a;	/* 메인색 */
	--subcolor: #cad3e2;	/* 서브색 */
	--bgcolor: #e7eaef;	/* 배경색 */
	}
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 링크 기본 색상 */
a { color: var(--maincolor); }
a:hover,
a:focus { color: var(--maincolor) !important; }

/* fontawesome 사용 */
a.nav-link,
span.category,
select.form-control,
div#article-content {
	font-family: FontAwesome;
}

/* 알림 */
.alert {
	margin-bottom: 10px;
	padding: 10px 35px 10px 15px;
}

html { background: var(--bgcolor); }
body {
	background: transparent;
	/*font-family: 'NanumSquareRoundEB', sans-serif;*/
}

/* 눈 이펙트 *//*
header { padding-top: 1em; }
header:before {
	position: absolute;
	animation: snowY 10s linear infinite, snowX 150s linear infinite;
	content: " ";
	background: url(./Christmas/snow.svg) 0 0,
		linear-gradient(to top, transparent, #b9c1d2);
	background-size: 1560px auto, auto auto;
	top: -1em;
	width: 100%;
	height: 92px;
}

@keyframes snowY {
	0% { background-position-y: 0, bottom, 0; }
	100% { background-position-y: 210px, bottom, 0; }
}

@keyframes snowX {
	0% { background-position-x: 0, right, 0; }
	100% { background-position-x: 3120px, right, 0; }
}
*/

/************ 헤더 ************/
/* 트게더 로고 */
header .row>div:nth-child(1)>a>img {
	content: url(./image/logo.svg);
	height: 50px;
}

/* 헤더 검색창 */
header #right-search-form>input[type=text] {
	border: 3px solid var(--maincolor);
	background: transparent;
	color: var(--maincolor);
}
header #right-search-form>input::placeholder,
header #right-search-form>#right-search-btn { 
	color: var(--maincolor) !important;
	font-weight: bold;
}

/* 헤더 하단 여백 */
header #header-bar { margin-bottom: 10px; }

/* 헤더 상단 메뉴 */
header #header-bar>.row { border-top: 4px solid var(--maincolor); }

/* 헤더 광고 뱃지 */
header #header-bar #header-top-notice strong.notice-badge { background: var(--maincolor); }

/* 헤더 드롭다운 */
header #header-bar a.dropdown-toggle { color: var(--maincolor); }
span.delrow { color: var(--maincolor) !important; } 
span.label.label-default { background: var(--maincolor) !important; }

/* 헤더 알림 뱃지 */
header #header-bar #header-menu-right #userDropdown #notification-badge {
	padding: 5px 6px 3px 6px;
	background: var(--maincolor);
}


/******* 좌측 트게더 메뉴 *******/
#main .menu-wrapper>.header { background: var(--maincolor); }
#main .menu-wrapper>a>em { color: var(--maincolor); }
#main .menu-wrapper .spacer {
	background: var(--bgcolor);
	height: 0.2em;
}

/* 메뉴 밑 흰색 제거 (지우면 가이드라인 위반) */
/*#main-menu div:nth-last-child(1) {
	/display: none; 
}*/

#board-info {
	height: inherit;
	margin: 0;
	padding: 0.5em 1em;
}
#board-info h1 { border: none; }
#board-info #board-info-bottom { padding-top: 7px; }
#board-info #board-info-bottom a { color: var(--maincolor); }

/* 공지 숨기기 버튼 */
#article-list #article-option-area { top: 5px; }
#article-list #article-option-area>#article-option-area-toggle-btn {
	background: var(--bgcolor);
	border-radius: 8px;
	height: 26px;
	margin: 0 18px 0 0;
	padding: 5px 3px 5px 3px;
	opacity: 1;
	display: inline-grid;
	transition: 0.2s;
}

/* 눈 모양 아이콘을 스위치 모양으로 변경 */
button>.fa-eye:before { content: "\f205"; }
button>.fa-eye-slash:before { content: "\f204"; }

/* 카테고리 */

#article-list #article-list-category {
	background: transparent;
	border-top: 2px solid var(--maincolor);
	border-bottom: 2px solid var(--maincolor);
}
#article-list #article-list-category>a {
	background: transparent !important;
	padding: 10px 15px;
	transition: 0.3s;
}

#article-list #article-list-category > a.active {
	color: var(--maincolor);
}

#article-list #article-list-category>a:hover {
	background: var(--maincolor) !important;
	color: white !important;
}
#article-list #article-list-category>a.nav-link { background: transparent; }

/* 공지 i 아이콘 색 */
span.a-badge i.fa.fa-info-circle {
	color: var(--maincolor);
}

/* 공지 작성자 가리기 */
#article-list>.article-list-row.notice>.item>.list-title>.list-writer { display: none; }

/* 게시글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span { background-color: var(--maincolor); }
/* 게시글 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count,
/* 게시글 로그인한 작성자 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span { color: var(--maincolor); }
/* 게시글 작성 시간 */
#article-list>.article-list-row>.item>.list-time { Width: 50px; }

#article-list>.article-list-row>.item>.list-title>.list-category { padding: 0 10px; }
#article-list>.article-list-row>.item>.list-title>.list-category>span {
    color: var(--maincolor) !important;
    text-overflow: clip;
    white-space: unset;
    width: 13px;
}
#article-content-wrapper>.header { border-top: 2px solid var(--maincolor); }

#article-reply-area > .header h5 { color: var(--maincolor); }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
	color: var(--maincolor);
}


/* 게시글 페이지 */
.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: var(--maincolor) !important;
	background: transparent !important;
	transition: 0.2s;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: white !important;
	background-color: var(--maincolor) !important;
	border-color: var(--maincolor) !important;
	transition: 0.2s;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>.active>a:hover,
.pagination>.active>span:hover {
	color: var(--maincolor) !important;
	background-color: white !important;
	border-color: var(--maincolor) !important;
	transition: 0.2s;
}
/* 게시글 페이지 끝 */


/* 버튼 */
/*
.btn {
	color: #fff !important;
	background-color: var(--maincolor) !important;
	border-color: var(--maincolor) !important;
  border-radius: 0;
	transition: 0.2s;
}

.btn:hover,
.btn:focus {
	color: var(--maincolor) !important;
	background-color: #fff !important;
}
*/
/* 버튼 끝 */
/* 버튼, 하단 검색 */
.btn.square {
	margin-right: -1px;
}

.btn,
.input-group .form-control {
	box-shadow: inset 0 0 0 0 var(--btcolor) !important;
	border-color: var(--btcolor) !important;
	color: var(--btcolor) !important;
	height: 30px !important;
	background: transparent !important;
	transition: 0.2s !important;
}

.btn:hover,
.btn:focus,
.input-group .form-control:hover,
.input-group .form-control:focus {
	box-shadow: inset 8em 0em 0 0 var(--btcolor) !important;
	background: var(--maincolor) !important;
	color: white !important;
}

.btn-outline-success {
	--btcolor: #5cb85c;	
	height: 34px !important;
}

.btn-outline-primary {
	--btcolor: #0275d8;	
	height: 34px !important;
}

.btn-default.best { --btcolor: #efc839; }
.btn-outline-danger { --btcolor: #ff6e6e; }
.btn-info { --btcolor: #5bc0de; }

.btn-primary,
.btn-default,
.input-group .form-control {
	--btcolor: var(--mainColor);
}

.input-group .form-control {
	transition: 0.4s !important;
}

.input-group .form-control:hover,
.input-group .form-control:focus {
	box-shadow: inset 25em 0em 0 0 var(--btcolor) !important;
}

.input-group .form-control::placeholder {
	color: var(--btcolor) !important;
}

.input-group .form-control:hover::placeholder,
.input-group .form-control:focus::placeholder {
	color: white !important;
}
/* 버튼, 하단 검색 끝 */


/* 상단으로 이동 */
/*#movetotop img{display:none}
#movetotop {
	display: inline-block;
	opacity: 1;
	background: url();
	width: 120px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
}*/


/******* 애니메이션 *******/

small.favo i.fa.fa-heart {
	animation: heartbeat 1s infinite;
}

@keyframes heartbeat{
	0% { ransform: scale(1); }
	30% { transform: scale(1.25); }
	42% { transform: scale(0.9); }
	60% { transform: scale(1.15); }
	85% { transform: scale(0.95); }
	100% { transform: scale(1); }
}
