/* 기본 설정 */
:root {
	--maincolor: #31405a;	/* 메인색 */
	--subcolor: #b2bcce;	/* 서브색 */
	--bgcolor: #e7eaef;	/* 배경색 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 링크 기본 색상 */
a { color: var(--maincolor); }

a:hover,
a:focus {
	color: var(--maincolor) !important;
}

/* fontawesome 사용 */
a.nav-link,
span.category,
select.form-control {
	font-family: fontawesome;
}

/* 알림 */
.alert { padding: 10px 15px; }

html { background: var(--bgcolor); }
body { background: transparent; }

/************ 헤더 ************/
/* 트게더 로고 */
header .row>div:nth-child(1)>a>img {
	display: none;
}

/* 검색창 */
header #right-search-form>input[type=text] { border: 3px solid var(--maincolor); }
header #right-search-form>#right-search-btn { color: var(--maincolor); }

/* 상단 메뉴 */
header #header-bar>.row { border-top: 4px solid var(--maincolor); }

/* 광고 뱃지 */
header #header-bar #header-top-notice strong.notice-badge { background: var(--maincolor); }

header #header-bar a.dropdown-toggle { color: var(--maincolor); }

span.delrow { color: var(--maincolor) !important; } 
span.label.label-default { background: var(--maincolor) !important; }

#main .menu-wrapper>.header { background: var(--maincolor); }
#main .menu-wrapper>a>em { color: var(--maincolor); }
#main .menu-wrapper .spacer {
    background: var(--subcolor);
    height: 0.2em;
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area { top: 5px; }
#article-list #article-option-area>#article-option-area-toggle-btn {
	background: var(--subcolor);
	border-radius: 10px;
	height: 27px;
	margin: 0 20px 0 0;
	opacity: 1;
	display: inline-grid;
	transition: 0.2s;
}

.fa-eye:before { content: "\f205"; }
.fa-eye-slash:before { content: "\f204"; }

#article-list #article-list-category {
	background: transparent;
	border-top: 2px solid var(--maincolor);
}

#article-list #article-list-category>a.nav-link { background: transparent; }

#board-info #board-info-bottom a { color: var(--maincolor); }
