/**** Designed by Million_Air in Twitch ****/
/******* Discord me Million_Air#9087 *******/

/* 폰트 */
@font-face {
	font-family: 'NanumSquareRoundEB';
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff2) format('woff2'),
		url(//cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.1/NanumSquareRoundEB.woff) format('woff')
}

/* 기본 설정 */
:root {
	--mainColor: #31405a;	/* 메인색 */
	--subColor: #f1f5fe;	/* 서브색 */
	--bgColor: #e7eaef;	  /* 배경색 */
	--bgBlur: #ffffff7f;	/* 블러배경 */
}

html.darkmode:root {
	--mainColor: #bdc8db;	/* 메인색 */
	--subColor: #414958;	/* 서브색 */
	--bgColor: black;	    /* 배경색 */
	--bgBlur: #2424247f;	/* 블러배경 */
}

@media (max-width: 1200px) {	
	/* 모바일로 전환 사이즈 조정 */
	a#switch-platform-link { font-size: 30px; }
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 링크 기본 */
html.darkmode a, a { color: var(--mainColor); transition: all 0.2s ease 0s; }
a:hover, a:focus { color: var(--mainColor) !important; }

/* fontawesome 사용 */
a.nav-link,
span.category,
select.form-control,
div#article-content,
#movetotop:after { font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

/* 알림 */
.alert { margin-bottom: 10px !important; padding: 10px 35px 10px 15px !important; }

html { background: var(--bgColor) !important; scroll-behavior: smooth; }
body { background: transparent !important; }

/* 스크롤 바 */
::-webkit-scrollbar { width: 16px; height: 16px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-corner { background: transparent; }
::-webkit-scrollbar-thumb { 
	background: var(--mainColor) content-box;
	border: 3px solid transparent;
	border-radius: 8px;
}

/******* 애니메이션 *******/
small.favo i.fa.fa-heart { animation: heartbeat 1s infinite; }

@keyframes heartbeat{
	0% { transform: scale(1); }
	30% { transform: scale(1.25); }
	42% { transform: scale(0.9); }
	60% { transform: scale(1.15); }
	85% { transform: scale(0.95); }
	100% { transform: scale(1); }
}

span.a-badge i.fa.fa-star {
	animation: shiningstar 2s infinite;
	animation-timing-function: linear;
}

@keyframes shiningstar {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
