/* 기본 설정 */
:root {
	--maincolor: #31405a;	/* 메인색 */
	--subcolor: #cad3e2;	/* 서브색 */
	--bgcolor: #e7eaef;	/* 배경색 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 링크 기본 색상 */
a { color: var(--maincolor); }

a:hover,
a:focus {
	color: var(--maincolor) !important;
}

/* fontawesome 사용 */
a.nav-link,
span.category,
select.form-control,
div#article-content {
	font-family: fontawesome;
}

/* 소개, 스케줄 숨기기 */
#board-info>a.board-right-menu[href="/million_air/profile"],
#board-info>a.board-right-menu[href="/million_air/schedule"] {
	display: none;
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area { top: 3px; }
#article-list #article-option-area>#article-option-area-toggle-btn {
	background: var(--bgcolor);
	border-radius: 10px;
	height: 27px;
	margin: 0 5px 0 0;
	opacity: 1;
	display: inline-grid;
	transition: 0.2s;
}

/* 눈 모양 스위치로 변경 */
button>.fa-eye:before { content: "\f205"; }
button>.fa-eye-slash:before { content: "\f204"; }
