html {
}

body {
}

/* 마우스 커서 기본 */
html,
body,
.fr-popup.emoticons,
.fr-desktop,
.fr-active,
.fr-tooltip,
.fr-sticky-off,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt  {
	cursor: url(./cur/pointer.png) 4 5, auto;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img.fr-dib.fr-fil,
.pull-left,
a {
	cursor: url(./cur/hand.png) 4 5, auto;
}

/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-box.fr-basic.fr-element,
input[type='text'] {
	cursor: url(./cur/text.png) 4 5, auto;
}
