/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 검색 창 */
header #right-search-form>input[type='text'] {
}

header #right-search-form>input[type='text']:hover {
	transform: scale(1.05);
	transition: .2s;
}
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {
}
header #right-search-form>#right-search-btn:hover {
	transform: scale(1.25);
	transition: .2s;
}
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.25);
}

/* 드롭다운 애니메이션 */
.dropdown.open .dropdown-menu {
    opacity: unset;
    transform: unset;
}
.dropdown .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(0.17, 1.44, 0, 1);
}



#article-list #article-list-category>a {
  position: relative;
  transition: ease-out 0.3s 0.1s;
}
#article-list #article-list-category>a::after {
  height: 2px;
  width: 100%;
  background: #6242ad;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  transform: scaleX(0);
  transition: 0.3s;
}
#article-list #article-list-category>a:hover::after {
  transform: scaleX(1);
}
