#header-top-notice,
#board-info>a.board-right-menu[href="/cjssus50/profile"],
#board-info>a.board-right-menu[href="/clips?streamer_id=214655362"] {
  display: none;
}

/* 공지 작성자, 댓글 수 표시 제거 */
#article-list>.notice>.item>a.list-title>.list-writer,
#article-list>.notice>.item>a.list-title>small.comment-count {
  display: none;
}

/* 공지 문구 표시 제거 */
/*#article-list>.notice>.item>.list-header {
  display: none;
} */
/* 아이콘 위치 맞춤 */
#article-list>.notice>.item>a.list-title>span.a-badge {
  display: none;
}

