/* 컬러, 로고 설정 부분 */
:root {
	--bgColor: #f3edf5;	 /* 배경 색 */
	--mainColor: #c3a7cc;	 /* 메인 컬러 */
	--mainColor2: #c3a7cc22; /* 트게더 메뉴, 게시글 hover */
	--mainColor3: #c3a7cc33; /* 공지, 인기글 */
	--mainColor5: #c3a7cc55; /* 공지, 인기글 hover */
	--logoURL: url([여기에 로고 주소 입력]);
	--logoWidth: 200px;	 /* 로고 너비 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

header {
    border-bottom: 4px solid var(--mainColor);
}
	
#header-top-notice,
#board-info>a.board-right-menu[href="/cjssus50/profile"],
#board-info>a.board-right-menu[href="/clips?streamer_id=214655362"] {
	display: none;
}

/* 공지 숨기기 버튼 높이 맞춤 */
#article-list #article-option-area,
#article-list #article-option-area>#article-option-area-toggle-btn {
	height: 34px;
	width: 34px;
}

#article-list #article-list-category {
    background: white;
    /*border-top: 2px solid var(--mainColor);
    border-bottom: 2px solid var(--mainColor);*/
}

#article-list #article-list-category>a {
	background: transparent;
	color: var(--mainColor);
}

/* 공지 작성자, 댓글 수 표시 제거 */
#article-list>.notice>.item>a.list-title>.list-writer,
#article-list>.notice>.item>a.list-title>small.comment-count {
	display: none;
}

/* 공지 i 아이콘 제거 */
#article-list>.notice>.item>a.list-title>span.a-badge {
	display: none;
}

#article-list>.article-list-row.hot,
#article-list>.article-list-row.notice {
	background-color: var(--mainColor3);
	border-bottom: 1px solid var(--mainColor);
}

#article-list>.article-list-row.notice:hover,
#article-list>.article-list-row.notice:focus,
#article-list>.article-list-row.hot:hover,
#article-list>.article-list-row.hot:focus {
	background-color: var(--mainColor5);
}

#article-list>.article-list-row:hover,
#article-list>.article-list-row:focus {
	background-color: var(--mainColor2);
}

/* 방문 했던 공지글 색 그대로  */
#article-list>.article-list-row>.item>a.list-title:visited {
    color: currentColor;
}

nav#nav {
    animation: slide .5s cubic-bezier(.28,1.54,.55,.9);
    /*transform: translateZ(999px);*/
}
