@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

:root {
	--before:	"캣게더에 ";	   /* 게시판 접두 */
	--after:	"명의 야메단이 대기중"; /* 게시판 접미 */
	--mainColor:	#505050;	/* 메인색 */
	--bgColor:	#282828;	/* 배경색 */
	--bgFrame:	#ffffff;	/* 프레임배경 */
	--borderColor:	#c7c7c7;	/* 보더색 */
}

html.darkmode:root {
	--mainColor:	#a0a0a0;	/* 메인색 */
	--bgColor:	black;		/* 배경색 */
	--bgFrame:	#242424;	/* 프레임배경 */
	--borderColor:	#505050;	/* 보더색 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

html.darkmode a, a { color: var(--mainColor); }
html.darkmode a, a,
html.darkmode .btn, .btn { transition: all 0.3s ease 0s; }

/* 스크롤 바 */
::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb { 
	background: var(--mainColor) content-box;
	border: 1px solid transparent;
	border-radius: 5px;
}

html { background: var(--bgColor); }
body {
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: -0.05em !important;
	background: transparent;
}

/* 마우스 커서 기본 */
html, body, .fr-popup, .fr-active div>*, 
.fr-btn-wrap, span#viewers, select.form-control,
input[type=checkbox], input[type=radio],
.opt { cursor: url(https://upload.tgd.kr/20190220/e247333d1a8aef0894ea350018e16e43.png) 3 5, auto !important; }

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu, .btn, .fr-command.fr-btn, .fr-view img,
.pull-left, a { cursor: url(https://upload.tgd.kr/20190220/12c6c1fda96dcab1854eddeaf0b365f4.png) 3 5, auto !important; }

/* 마우스 커서 텍스트 */
#article-list #boardSearchForm .form-control,
.fr-view, .fr-box.fr-basic.fr-element,
input[type='text'] { cursor: url(https://upload.tgd.kr/20190220/10b7072018d3161b41fc70ef78b54add.png) 3 5, auto !important; }


/* 트게더 로고 */
body header>.container>.row>.col-xs-4>a {
  display: block;
  width: 180px;
  height: 50px;
  background: url(https://cdn.discordapp.com/attachments/640787940116660226/1068145572424454266/3e6093ed3e86ff5b.png) no-repeat;
  background-size: contain;
}
body header>.container>.row>.col-xs-4>a>img { display: none; }

/* 로고 밑 NAV bar */
header #header-bar>.row { border: none !important; border-top: 4px solid var(--mainColor) !important; border-radius: 20px; }

/* 헤더 검색 창 */
header #right-search-form>input[type=text] {
        border: 3px solid var(--mainColor) !important;
        border-radius: 17px;
}
header #right-search-form>#right-search-btn { color: var(--mainColor) !important; }

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
#main .menu-wrapper>.header {
	background: var(--mainColor) !important;
	border-radius: 17px 17px 0 0;
}

#main .menu-wrapper { border: none; border-radius: 20px 20px 0 0; }
#main .menu-wrapper #fav-shortcut-area>a,
#main .menu-wrapper>a { padding:.5em 1.4em .5em .7em !important }

/* 헤더 [광고], 뱃지 배경색 */
header #header-bar #header-top-notice strong.notice-badge,
header #header-bar a.dropdown-toggle #notification-badge  { background: var(--mainColor) !important; }

/* 좌측 메뉴 숏컷링크 글씨 색상 */
#main .menu-wrapper>a>em { color: var(--mainColor) !important; }

/* 좌측 메뉴 메뉴 스페이서 */
#main .menu-wrapper .spacer { background: var(--mainColor) !important; height: 2px; }

/* 메인 컨텐츠 모서리 */
#main #main-content>div.frame { border-radius: 20px; }

/* 광고 패딩 */
#main #main-menu>div:last-child { border: none; padding: 0 !important }

/* 스트리머 게시판 상단 정보 글씨색상 */
#board-info {
	width: auto;
	height: auto;
	margin: 0 3px 3px;
	padding 1em 1em 0.5em;
	background: var(--bgFrame);
	border-radius: 20px;
}

#board-info>#board-info-bottom,
#board-info>h1, #board-info>img { float: left !important; }

#board-info>img#board-info-profile-img {
	width: 90px;
	margin-right: 20px;
	border: 1px dashed var(--borderColor);
	border-radius: 50%;
}

#board-info>h1 { margin-top: 12px; width: calc(100% - 110px); }
#board-info>h1>a { font-size: 23px; }
#board-info>h1>a:hover { color: var(--mainColor); }

#board-info>#board-info-bottom { margin-top: 8px; }

/* 스트리머 게시판 상단 정보 글씨색상 "즐겨찾기 소개 채널 클립" */
#board-info #board-info-bottom a { color: var(--mainColor); }

/* 게시판 접두 */
#board-info #viewers-area #viewers:before { content: var(--before); }

/* 게시판 접미 */
#board-info #viewers-area #viewers:after { content: var(--after); }

/* 게시글 관련부분 */
div#article-list {
	background: var(--bgFrame);
	border-radius: 20px;
	padding: 0;
}
html.darkmode #article-list #article-list-category #board-home-link-btn { background: #9567fd;
}
div#article-list div#article-list-category {
	border-top: 2px solid var(--mainColor) !important;
	padding: 5px;
	background: none;
}

#article-list #article-list-category>a {
	background: transparent;
	height: 32px;
	padding: 10px 11px;
	margin: 0 1px;
	border-radius: 6px;
}

@media (min-width: 1400px) {
	html.darkmode #article-list #article-list-category #board-home-link-btn { background: unset; }

	html.darkmode #article-list #article-list-category.can-float>a.active,
	#article-list #article-list-category.can-float>a.active,
	#article-list #article-list-category.can-float>a:hover {
		background: #7f7f7f7f;
	}
}
div#article-list div.article-list-row {
	width: calc(100% - 10px);
	background: var(--bgFrame);
	margin: 4px 5px 0 5px;
	border: 1px solid var(--borderColor) !important;
	border-radius: 15px;
	transition: .15s ease 0s;
}

/* 공지 i 아이콘 색 */
span.a-badge i.fa.fa-info-circle { color: var(--mainColor) !important; }

/* 게시글 목록 */
div#article-list div.article-list-row div.item .list-checkbox,
div#article-list div.article-list-row div.item .list-header,
div#article-list div.article-list-row div.item .list-title,
div#article-list div.article-list-row div.item .list-time { border: none !important; }
div#article-list div.article-list-row div.item .list-title > a:visited { color: #aaa !important; }
div#article-list div.article-list-row div.item .list-header>strong,
div#article-list div.article-list-row div.item .list-header>b { color: var(--mainColor) !important; }
div#article-list div.article-list-row div.item .list-header>span { background-color: var(--mainColor) !important; }
div#article-list div.article-list-row div.item .list-header.v0>span { background: #ccc !important; }
div#article-list div.article-list-row div.item .list-title small.comment-count { color: var(--mainColor) !important; }
div#article-list div.article-list-row div.item .list-title .list-writer>span { width: 120px !important; }
div#article-list div.article-list-row div.item .list-title .list-writer.logged>span { color: var(--mainColor) !important; }

html.darkmode #article-list>.article-list-row:hover,
div#article-list div.article-list-row:hover { background: rgba(100, 100, 100, .5) !important; }

div#article-list div.article-list-row.notice { border: 1px solid rgba(79, 105, 126, .20) !important; background: rgba(125, 167, 202, .10) !important; }
div#article-list div.article-list-row.notice:hover { background: rgba(79, 105, 126, .2) !important; }

div#article-list div.article-list-row.hot { border: 1px solid rgba(95, 161, 178, .20) !important; background: rgba(90, 90, 90, .6)!important; }
div#article-list div.article-list-row.hot:hover { background: rgba(100, 100, 100, .3) !important; }

/* 게시글 내부 상단 테두리 */
#article-content-wrapper>.header { border-top: 2px solid var(--mainColor) !important; }
html.darkmode #article-content-wrapper>.header #article-comment a { color: white; }

#article-reply-area > .header h5,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a { color: var(--mainColor) !important; }

#article-info>h2 { font-weight: bold; }
#article-info>h2>span.category { color: var(--mainColor) !important; }

#article-list #article-list-menu { width: unset; margin: 20px; }


/* 게시글 페이지 */
.pagination>li>a {
	border-radius: 50% !important;
	margin-left:5px;
}

.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: var(--mainColor) !important;
	background: transparent !important;
	transition: 0.2s;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: white !important;
	background-color: var(--mainColor) !important;
	border-color: var(--mainColor) !important;
	transition: 0.2s;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>.active>a:hover,
.pagination>.active>span:hover {
	color: var(--mainColor) !important;
	background-color: transparent !important;
	border-color: var(--mainColor) !important;
	transition: 0.2s;
}
/* 게시글 페이지 끝 */

/* 버튼, 하단 검색 */
.btn, .btn.best, .btn.write { border-radius: 15px; }

.btn.square {
	border: 1px solid !important;
	margin-right: -1px !important;
}

.btn,
select.form-control,
input.form-control {
	border-color: var(--btColor) !important;
	color: var(--btColor) !important;
	background: transparent !important;
}

.btn:hover, select.form-control:hover {
	background: var(--btColor) !important;
	border-color: var(--btColor) !important;
	color: white !important;
}

.btn[data-type="up"] { --btColor: #5cb85c; }
.btn[data-type="down"] { --btColor: #0275d8; }
.btn-default.best { --btColor: #efc839; }
.btn-outline-danger { --btColor: #d9534f; }
.btn-danger { --btColor: #ff6e6e; }

select.form-control:focus, input#title:focus { box-shadow: none; }

select.form-control, input#title,
.btn-primary, .btn-default, .btn-info, input.form-control,
.btn[data-target="#scheduleModal"] { --btColor: var(--mainColor); }

.square.btn-default[data-toggle="dropdown"] {
	padding: 6px 10px 6px 15px;
	border-radius: 17px 0 0 17px;
}
.square.btn-default[type="submit"] {
	padding: 6px 15px 6px 10px;
	border-radius: 0 17px 17px 0;
}

form#boardSearchForm { padding-bottom: 20px; }
form#boardSearchForm > input.form-control::placeholder { color: var(--btColor) !important; }
html.darkmode #article-list #boardSearchForm .form-control { border: 1px solid; }

form#boardSearchForm .input-group-btn .btn:hover {
	background: var(--btColor) !important;
	color: white !important;
}
html.darkmode .input-group-btn i.fa-search { color: unset; }
/* 버튼, 하단 검색 끝 */

/* 새 글 작성 */
.fr-popup, .fr-toolbar, 
.fr-dropdown::after { border-top: 4px solid var(--mainColor) !important; }
.fr-btn { color: var(--mainColor) !important; }

html.darkmode .fr-code { color: white; }

html.darkmode footer a { color: var(--mainColor); }
