/* 팽구 */
html {
	background: linear-gradient(to bottom, #D1EFFA, #ffffff);
	height: auto !important;
}

body {
	letter-spacing: -0.05em !important;
	background: transparent;
}

/* 마우스 커서 기본 */
html,
body,
.fr-popup.emoticons,
/*.fr-desktop,*/
.fr-active,
.fr-tooltip,
.fr-sticky-off,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt  {
	cursor: url(./cur/pointer.png) 4 5, auto !important;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img.fr-dib.fr-fil,
.pull-left,
a {
	cursor: url(./cur/hand.png) 4 5, auto !important;
}

/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-box.fr-basic.fr-element,
.fr-view,
input[type='text'] {
	cursor: url(./cur/text.png) 4 5, auto !important;
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 게시글 스트리머 아이콘 */
img[src="https://static-cdn.jtvnw.net/chat-badges/broadcaster.png"],
img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"]{
	content: url(https://static-cdn.jtvnw.net/badges/v1/d91cb9e8-09a1-40b4-aa90-9b75c3785920/1?raw=true);
	width: 18px;
}

/* 헤더 바 */
header #header-bar>.row {
	border-top: 4px solid #6cbcd9;
	border-right: none;
	border-bottom: none;
}

/* 트게더 로고 */
header .row>div:nth-child(1)>a {
	display: block;
	width: 200px;
	height: 50px;
	background: url('./logo/logo.png') no-repeat;
	background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
	display: none;
}

/* 검색 폼 */
header #right-search-form {
    padding-top: 1em;
    padding-right: .5em;
}

/* 검색 창 */
header #right-search-form>input[type='text'] {
	border: 3px solid #6cbcd9;
	margin-top: -3px;
	border-radius: 15px;
}
header #right-search-form>input[type='text']:hover {
	transform: scale(1.05);
	transition: .2s;
}
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
	animation: glow 800ms ease-out infinite alternate;
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {
	color: #6cbcd9;
}
header #right-search-form>#right-search-btn:hover {
	transform: scale(1.25);
	transition: .2s;
}
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.25);
	color: #aaeeff;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */
#main .menu-wrapper {
	border: none;
}

#main .menu-wrapper>.header {
	background: #6cbcd9;
	border-top-right-radius: 10px;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before,
.fa-square:before {
	/*color: #6cbcd9;*/
}

#main .menu-wrapper>a>i.fa.fa-square {
	color: #6cbcd9;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */
#main .menu-wrapper .spacer {
    background: #6cbcd9;
    height: 0.15em;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */
#main .menu-wrapper>a>em {
	color: #6cbcd9;
}

/* 전체 테두리 */
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px; 
	box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
}

/* 헤더 상하단 간격 */
header #header-bar {
	margin-top: .75em;
	margin-bottom: .75em;
}
header #header-bar #header-top-notice:hover{
	transform: scale(1.04);
	transition: .1s;	
}
/* 헤더 광고 배경색 */
header #header-bar #header-top-notice strong.notice-badge {
	background: #6cbcd9;
}

/* 헤더 아이콘 색상 */
header #header-bar .fa {
	color: #6cbcd9;
	margin-top: 4px;
}
header #header-bar a.dropdown-toggle,
.caret {
	color: #6cbcd9;
}
.label-default {
    background-color: #6cbcd9;
}

/* 드롭다운 애니메이션 */
.dropdown.open .dropdown-menu {
    opacity: unset;
    transform: unset;
}
.dropdown .dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: all 0.4s cubic-bezier(0.17, 1.44, 0, 1);
}

/* 스트리머 게시판 상단 정보 글씨색상 */
#board-info {
	height:auto;
	background:#fff;
	margin: 0;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
}

#board-info>img,
#board-info>h1,
#board-info>#board-info-bottom {
	float:left!important;
}

#board-info>img#board-info-profile-img {
	width:90px;
	margin-right:20px;
	border-radius:50%;
	border:3px dashed rgba(108, 188, 217, .80);
	transition: all 0.2s ease-out;
}

#board-info>img#board-info-profile-img:hover {
	transform:scale(1.1);
}
	
#board-info>h1 {
	margin-top:12px;
	width:calc(100% - 110px);
}
#board-info>h1>a {
	font-size:23px;
	transition:.2s ease 0s;
}

#board-info>h1>a:hover {
	color: #6cbcd9;
}

#board-info > #board-info-bottom {
	margin-top:10px;
	width:calc(100% - 110px);
	color: #6cbcd9;
}

/* 생방송 알림 */
#board-info h1>a.badge.badge-live:after {
  content: " 생방 습격";
}

/* 트게더 인원 */
#board-info #viewers-area #viewers:before {
	content: "보스 레이드 ";
}
#board-info #viewers-area #viewers:after {
	content: "명 대기중";
}

/* 일반 게시글 */
div#article-list {
	background:#fff;
	border-radius:20px;
	margin-top: 0;
}
#article-info .article-profile-img {
	transition: .2s;
}

#article-info .article-profile-img:hover {	
	transform: scale(1.2);
	transition: .2s;
}

/* 게시글 */
#article-list .article-list-row {
	margin: 3px 0 0 0;
	border-radius:20px;
	border:1px solid #eee;
	transition:.15s ease 0s;
}

#article-list .article-list-row .v0 span {
	background:#ccc!important;
}

/* 게시글 사이 구분선 제거 */
#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-title,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-time {
	border:0;
}

/* 방문한 게시글 제목 */
#article-list .article-list-row>.item > .list-title>a:visited {
	color:#999!important;
}

#article-list div.article-list-row.notice {
	border: 1px solid rgba(108, 188, 217, .30);
	background: rgba(127, 199, 255, 0.2);
}

#article-list .article-list-row:hover,
#article-list div.article-list-row.notice:hover {
	transform:scale(1.005);
	background: rgba(10, 135, 255, .20);
}

#article-list>.article-list-row.hot {
	animation: infinite rainbow30 7s;
}

/* 버튼 */
.btn-primary,
#article-list #article-list-menu>.btn.best,
#article-list #article-list-menu>.btn.write {
	border-radius:15px;
	border-color: #6cbcd9;
	background:#6cbcd9;
	color:#fff;
}

.btn-primary:hover,
#article-list #article-list-menu>.btn.best:hover,
#article-list #article-list-menu>.btn.write:hover {
	border-color: #e3e3e3;
	/*background:#6cbcd9;*/
	color:#333333;
	animation: infinite rainbow 7s;
}

.btn-group-sm>.btn,
.btn-sm {
	padding: 6px 12px;
}

#article-list #article-list-menu .pagination>li>a {
	margin-left:1px;
}

#article-list #article-list-menu .pagination>li>a:hover {
	transition:.3s ease 0s;
	color: #6cbcd9;
	border-color: #6cbcd9;
	background:#fafafa;
}
#article-list #article-list-menu .pagination>li.active > a {
	color:#fff;
	font-weight:bold;
}
#article-list #article-list-menu .pagination>li.active > a:hover {
	color: #6cbcd9;
}

#article-list #article-list-menu .pagination>li.active > a,
#article-list #article-list-menu .pagination>li>a {
	border-radius: 20px;
}

/* 트게더 페이지 */
.pagination>.active>a:focus,
.pagination>.active>a:hover {
	color: #6cbcd9;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
	background-color: #6cbcd9;
	border-color:#6cbcd9;
}
.pagination>li>a,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span
.pagination>li>span:focus,
.pagination>li>span:hover {
	color:#6cbcd9;
}

#article-list form.input-group input[type="text"] {
	padding:10px;
	margin-left: 1px;
	border:1px solid #ccc;
	border-radius: 17px;
}
#article-list form.input-group .input-group-btn button {
	border:1px solid #ccc;
}
#article-list form.input-group .input-group-btn button:hover {
	transition:.3s ease 0s;
}

#article-list form.input-group .input-group-btn button.btn.square.btn-default.dropdown-toggle,
#article-list form.input-group .input-group-btn button.btn.square.btn-default {
	border-radius:17px;
}

/* 검색 돋보기 버튼 왼쪽 마진 */
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group { margin-left: 1px; }

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
	width:120px!important
}

/* 공지 숨기기 버튼 */
#article-list #article-option-area>#article-option-area-toggle-btn {
	background: #eaeaea;
	width: 38px;
	height: 38px;
	border-radius: 19px;
	border: 2px solid;
	transition:.2s ease 0s;
}

/* 카테고리 */
#article-list #article-list-category {
	border:0;
	background:white;
	text-align: center;
	padding-bottom: 0.25em;
}

#article-list #article-list-category > a.active,
#article-list #article-list-category > a {
	background: transparent;
	border-top: 2px solid;
	border-bottom: 2px solid;
	padding: 11px 38px;
}

#article-list #article-list-category > a:hover {
	background-color: transparent;
	/*animation: infinite rainbowLinkBG 3s*/
	transform: scale(1.05);
	transition: .15s;
}

#article-list #article-list-category > a[href="/p_gu"] {
	padding: 11px 16px
}
/*
#article-list #article-list-category > a[href="/p_gu"].active {
	background: #000;
	border: 2px solid #000;
	color: white !important;
}

#article-list #article-list-category > a[href="/p_gu?category=16589533"].active {
	background: #ff4646;
	border: 2px solid #ff4646;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16589550"].active {
	background: #ff9940;
	border: 2px solid #ff9940;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16595095"].active {
	background: #ffdd33;
	border: 2px solid #ffdd33;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16595119"].active {
	background: #34dd4d;
	border: 2px solid #34dd4d;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16595154"].active {
	background: #33bbff;
	border: 2px solid #33bbff;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16595160"].active {
	background: #4646ee;
	border: 2px solid #4646ee;
	color: white !important;
}
#article-list #article-list-category > a[href="/p_gu?category=16595112"].active {
	background: #dd55ee;
	border: 2px solid #dd55ee;
	color: white !important;
}
*/
.fa.fa-home{
	/*color: black;*/
	/*animation: infinite rainbow 3s*/
}

#article-list>.article-list-row>.item>.list-header>span {
	background-color: #6cbcd9;
}

/* 게시글 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	color: #6cbcd9;
}

/* 로그인한 게시글 작성자 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: #6cbcd9;
}

#article-content-wrapper>.header {
	border-top:2px solid #6cbcd9;
}
#article-reply-area#reply-real-area.reply>.reply-header>.reply-writer.logged,
#article-reply-area#reply-best-area.reply>.reply-header>.reply-writer.logged {
	color:#6cbcd9;
}
#article-info>h2 {
	font-weight:bold
}
#article-info>h2>span.category {
	color: #6cbcd9;
}
#article-reply-area>.header h5 {
	color: #6cbcd9;
}
#main .menu-wrapper>a {
	padding:.5em 1.4em .5em .7em!important
}

a[href="/p_gu"] {
	color: black;
}

a {
	color: #6cbcd9;
}

span.a-badge i.fa.fa-info-circle {
	color: #6cbcd9;
}

#article-list #article-list-menu {
	box-sizing:border-box;
	width:unset;
	margin:20px
}
#article-list #boardSearchForm {
	padding-bottom:20px;
	height:unset
}

#article-list>.article-list-row>.item>.list-checkbox{
	border-bottom: 0px 
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #6cbcd9;
	border-radius: 10px;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu {
	color: #6cbcd9;
}
.fr-toolbar {
	border-top: 4px solid #6cbcd9;
}
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
	color: #6cbcd9;
}
.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
	border-top: 4px solid #6cbcd9;
}
#article-content-wrapper>.header {
	border-top: 2px solid #6cbcd9;
}
#article-content-wrapper>.header>#article-comment,
#article-content-wrapper>.header>#article-votes,
#article-content-wrapper>.header>#article-time,
#article-content-wrapper>.header>#article-views{
	color: #6cbcd9;
}

@keyframes rainbowLinkBG {
	0% { border: 1px solid #ffb4b4; }
	11% { border: 1px solid #ffe1b5; }
	22% { border: 1px solid #f0ffb5; }
	33% { border: 1px solid #c4ffb5; }
	44% { border: 1px solid #b5ffd3; }
	55% { border: 1px solid #b5ffff; }
	66% { border: 1px solid #b5d3ff; }
	77% { border: 1px solid #c4b5ff; }
	88% { border: 1px solid #f0b5ff; }
	100% { border: 1px solid #ffb5e1; }
}

@keyframes rainbow {
	0% { background-color: #ff7e7e; }
	5% { background-color: #ffa57e; }
	10% { background-color: #ffcb7e; }
	15% { background-color: #fff27e; }
	20% { background-color: #e5ff7e; }
	25% { background-color: #bfff7e; }
	30% { background-color: #98ff7e; }
	35% { background-color: #7eff8b; }
	40% { background-color: #7effb2; }
	45% { background-color: #7effd8; }
	50% { background-color: #7effff; }
	55% { background-color: #7ed8ff; }
	60% { background-color: #7eb2ff; }
	65% { background-color: #7e8bff; }
	70% { background-color: #837eff; }
	75% { background-color: #987eff; }
	80% { background-color: #bf7eff; }
	85% { background-color: #e57eff; }
	90% { background-color: #ff7ef2; }
	95% { background-color: #ff7ecb; }
	100% { background-color: #ff7ea5; }
}

@keyframes rainbow30 {
	0% { background-color: #ff7e7e30; }
	5% { background-color: #ffa57e30; }
	10% { background-color: #ffcb7e30; }
	15% { background-color: #fff27e30; }
	20% { background-color: #e5ff7e30; }
	25% { background-color: #bfff7e30; }
	30% { background-color: #98ff7e30; }
	35% { background-color: #7eff8b30; }
	40% { background-color: #7effb230; }
	45% { background-color: #7effd830; }
	50% { background-color: #7effff30; }
	55% { background-color: #7ed8ff30; }
	60% { background-color: #7eb2ff30; }
	65% { background-color: #7e8bff30; }
	70% { background-color: #837eff30; }
	75% { background-color: #987eff30; }
	80% { background-color: #bf7eff30; }
	85% { background-color: #e57eff30; }
	90% { background-color: #ff7ef230; }
	95% { background-color: #ff7ecb30; }
	100% { background-color: #ff7ea530; }
}

@keyframes glow {
	0% {
		border-color: #6cbcd9;
		box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0;
	}
	100% {
		border-color: #aaeeff;
		box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0;
	}
}
