:root {
	--maincolor: #454859;	/* 메인색 */
	--bgcolor: #f9f9f9;	/* 배경색 */
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

html {
	background: #f9f9f9;
}

body {
	background: transparent;
}
 
