html { 
	--mainColor: #888;
	--borderColor: #DDD;
	--frameColor: #FFF;
}
html.darkmode { 
	--mainColor: #DDD;
	--borderColor: #888;
	--frameColor: #242424;
}

html { background: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete_seamless.png"); }
body { background: transparent; }

*:focus { outline: none; }

html.darkmode a,
a { color: var(--mainColor); }

html.darkmode a:hover,
html.darkmode a:focus,
a:hover,
a:focus { color: #333; }

/* 트게더 로고 */
/*header .row>div:nth-child(1)>a {
    display: block;
    width: 200px;
    height: 50px;
    background-size: auto 50px;
    background: url("") no-repeat;
}
*/
/* 기본 트게더 로고 제거 */
/* header .row>div:nth-child(1) > a > img { display: none; } */

header #right-search-form { display: inline-flex; padding-top: 12px; }
header #right-search-form>input[type=text] {
    margin-right: 18px;
    border: 1px dashed var(--borderColor) !important;
    box-shadow: 0 0 0 3px var(--frameColor), 0 0 0 5px var(--borderColor);
    transition: 0.2s;
}

header #right-search-form>input[type=text]:hover,
header #right-search-form>input[type=text]:focus {
    border-color: var(--mainColor);
    box-shadow:
        0 0 0 3px var(--frameColor),
        0 0 0 5px var(--mainColor),
        0 0 0 8px var(--frameColor),
        0 0 2px 8px var(--mainColor);
}

header #right-search-form>#right-search-btn {
    color: var(--borderColor) !important;
    background: var(--frameColor);
    border: 1px dashed var(--borderColor) !important;
    box-shadow: 0 0 0 3px var(--frameColor), 0 0 0 5px var(--borderColor);
    transition: 0.2s;
}

header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
    color: var(--mainColor);
    border: 1px dashed var(--mainColor);
    box-shadow:
        0 0 0 3px var(--frameColor),
        0 0 0 5px var(--mainColor),
        0 0 0 8px var(--frameColor),
        0 0 2px 8px var(--mainColor);
}

header #header-bar>.row {
    margin-top: 5px;
    border: none !important;
    border: 1px dashed var(--borderColor) !important;
    box-shadow:
        0 0 0 3px var(--frameColor),
        0 0 0 5px var(--borderColor);
}

header #header-bar a.dropdown-toggle { color: var(--mainColor); }
header #header-bar #header-top-notice strong.notice-badge { background: var(--mainColor); }
html.darkmode header #header-bar #header-top-notice strong.notice-badge { background: var(--borderColor); }
header #header-bar #header-top-notice a { color: var(--mainColor); }
header #header-bar #header-menu-right #userDropdown #notification-badge { background: var(--mainColor);}
html.darkmode header #header-bar #header-menu-right #userDropdown #notification-badge { background: var(--borderColor);}

header #tgd-home-nav {
    margin: 2px 0 2px 10px;
    color: var(--mainColor);
}

#main .menu-wrapper {
    margin-bottom: 1.8em;
    border: 1px dashed var(--borderColor) !important;
    box-shadow:
        0 0 0 3px var(--frameColor),
        0 0 0 5px var(--borderColor);
}

html.darkmode #main .menu-wrapper>.header,
#main .menu-wrapper>.header {    
    background: var(--frameColor);
    color: var(--mainColor);
    border-bottom: 1px dashed #ddd;
}

#main .menu-wrapper>a>i.fa.fa-square,
html.darkmode :is(#main .menu-wrapper) a>em,
:is(#main .menu-wrapper) a>em,
:is(#main .menu-wrapper) a { color: var(--mainColor) !important; }

#main .menu-wrapper .spacer {
    background: #ddd;
    height: 2px;
}

#main #main-content { padding-left: 21px; }

#main #main-content>div.frame {
    border: 1px dashed var(--borderColor) !important;
    box-shadow:
        0 0 0 3px var(--frameColor),
        0 0 0 5px var(--borderColor);
}

#board-info #board-info-bottom a {
    color: var(--mainColor);
}

#board-info #viewers-area #viewers:before {
    content: ""; /* 접속자 수 앞 문구 */
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: ""; /* 접속자 수 뒤 문구 */
    cursor: text;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    line-height: inherit;
    background: var(--frameColor);
    border-radius: 20px;
    border: 1px dashed var(--borderColor);
    box-shadow:
    0 0 0 3px var(--frameColor),
    0 0 0 5px var(--borderColor);
    color: var(--mainColor);
}

#article-list #article-list-category {
    background: var(--frameColor);
    border-top: 2px dashed var(--borderColor);
}

#article-list #article-list-category>a {
    background: var(--frameColor);
    transition: 0.2s;
}

#article-list #article-list-category>a:hover,
#article-list #article-list-category>a:focus {
    background: #eee;
}

#article-list #article-list-category>a>.fa-home:before {
    color: var(--mainColor);
}

#article-list>.article-list-row>.item>.list-header>span {
    background: var(--mainColor);
}

span.a-badge i.fa.fa-info-circle {
    color: var(--mainColor);
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: var(--mainColor);
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: var(--mainColor);
}

html.darkmode #article-content-wrapper>.header,
#article-content-wrapper>.header { border-top: 1px dashed #ddd; }

html.darkmode #article-comment a { color: white; }

html.darkmode #article-reply-area>.header h5,
html.darkmode #article-reply-area>.header h5 > a,
#article-reply-area > .header h5,
#article-reply-area > .header h5 > a { color: var(--mainColor); }

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    color: var(--mainColor);
}

html.darkmode .fr-popup, html.darkmode .fr-toolbar.fr-top,
.fr-popup, .fr-toolbar.fr-top {
    border-top: 2px dashed var(--mainColor);
}


.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
    color: var(--mainColor);
}

#article-neighbor-list>div,
#article-neighbor-list>div>a {
    color: var(--mainColor);
}

#article-list #boardSearchForm .form-control {
    width: calc(100% - 2px);
    margin-left: 1.5px;
    border: 1px solid var(--mainColor);
}

/* 게시글 페이지 */
.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: var(--mainColor) !important;
	background: transparent !important;
	transition: 0.2s;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: white !important;
	background-color: var(--mainColor) !important;
	border-color: var(--mainColor) !important;
	transition: 0.2s;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>.active>a:hover,
.pagination>.active>span:hover {
	color: var(--mainColor) !important;
	background: transparent !important;
	border-color: var(--mainColor) !important;
	transition: 0.2s;
}

/* 버튼 */
.btn,
select.form-control,
input.form-control {
	border-color: var(--btcolor) !important;
	color: var(--btcolor) !important;
	background: transparent !important;
    border-radius: 0;
    transition: 0.2s;
}

.btn:hover,
.btn:focus,
select.form-control:hover {
	background: var(--btcolor) !important;
	border-color: var(--btcolor) !important;
	color: white !important;
}

.btn.square { margin-right: -2px; }

.btn[data-type="up"] { --btcolor: #5cb85c; }
.btn[data-type="down"] { --btcolor: #0275d8; }
.btn-default.best { --btcolor: #efc839; }
.btn#reportArticleBtn,
.btn#reportBtn { --btcolor: #d9534f; }
.btn-danger { --btcolor: #ff6e6e; }

.btn-primary, .btn-default, .btn-info, input.form-control,
.btn[data-target="#scheduleModal"] { --btcolor: var(--mainColor); }

select.form-control, input#title { --btcolor: var(--mainColor); }

select.form-control:focus, input#title:focus { box-shadow: none; }


html.darkmode footer a { color: var(--mainColor); }
