/**** Designed by Million_Air in Twitch ****/
/******* Discord me Million_Air#9087 *******/

/* 기본 설정 */
:root {
	--maincolor: #ff6c6c;	/* 메인색 */
	--maincolor2: #ff6c6c22;
	--maincolor3: #ff6c6c33;
	--maincolor5: #ff6c6c55;
	--bgcolor: #ff9797;	/* 배경색 */
	--framebgcolor: white; /* 프레임배경색 */
	--before: "ino를 기다리는 "; /* 앞 문구 */
	--after: "명♥";  /* 뒤 문구 */
}

/* 다크모드 색 */
html.darkmode:root {
	--maincolor: #ff6c6c;	/* 메인색 */
	--maincolor2: #ff6c6c22;
	--maincolor3: #ff6c6c33;
	--maincolor5: #ff6c6c55;
	--bgcolor: #151515; /* 배경색 */
	--framebgcolor: #242424; /* 프레임배경색 */
}

/* 너비 1100px 이하로 바뀌면 적용되는 설정 */
@media (max-width: 1100px) {
	/* 모바일로 전환 사이즈 조정 */
	a#switch-platform-link { font-size: 36px; }
}

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

/* 링크 기본 */
html.darkmode a ,a {
	color: var(--maincolor);
	transition: all 0.2s ease 0s;
}
a:hover,
a:focus { color: var(--maincolor) !important; }

/* fontawesome 사용 */
a.nav-link,
span.category,
select.form-control {
	font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* 알림 */
.alert {
	margin-bottom: 10px !important;
	padding: 10px 35px 10px 15px !important;
}

html { background: var(--bgcolor); }
body { background: transparent !important; }


/************ 헤더 ************/
/* 트게더 로고 */
/* 로고 변경시 주석 해제 후 url 안에 이미지 주소 입력 */
/*header .row>div:nth-child(1)>a>img {
	content: url();
	height: 50px;
}*/
/* 다크모드용 로고 */
/*html.darkmode header .row>div:nth-child(1)>a>img {
	content: url();
}*/

/* 헤더 검색창 */
header #right-search-form>input[type=text] {
  border: 3px solid var(--maincolor) !important;
  border-radius: 5px;
  background: var(--framebgcolor);
  color: var(--maincolor);
}
header #right-search-form>input::placeholder,
header #right-search-form>#right-search-btn { 
	color: var(--maincolor) !important;
	/* font-weight: bold; */
}

/* 헤더 하단 여백 */
header #header-bar { margin-bottom: 10px !important; }

/* 헤더 상단 메뉴 */
header #header-bar>.row {
	border: none !important;
	border-top: 4px solid var(--maincolor) !important;
	border-radius: 0 0 10px 10px !important;
}

/* 헤더 광고 뱃지 */
header #header-bar #header-top-notice strong.notice-badge { background: var(--maincolor) !important; }

/* 헤더 드롭다운 */
header #header-bar a.dropdown-toggle { color: var(--maincolor) !important; }
span.label.label-default { background: var(--maincolor) !important; }
span.delrow { color: var(--maincolor) !important; } 

.dropdown-menu>li>a { display: inherit; }
#latestDropdownMenu>li>a,
#favoriteDropdownMenu>li>a {
    padding: 3px 3px 0 10px;
    height: 27px;
}
.dropdown-menu .divider { margin: 3px 0; }

.dropdown.open .dropdown-menu {
	opacity: unset;
	transform: unset;
	border: 2px solid var(--maincolor);
	border-radius: 10px
}
.dropdown .dropdown-menu {
	display: block !important;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: all 0.3s cubic-bezier(0.18, 1.5, 0, 1);
}
.dropdown-menu>li>a { transition: .1s; }
.dropdown-menu>li>a:hover {
	background: var(--maincolor2) !important;
	transform: scaleX(1.04);
	transition: .1s;
}

#latestDropdownMenu>li>a>span.delrow:hover,
#favoriteDropdownMenu>li>a>span.delrow:hover {
	background: transparent !important;
}

/* 헤더 알림 뱃지 */
header #header-bar #header-menu-right #userDropdown #notification-badge {
	padding: 5px 6px 3px 6px !important;
	background: var(--maincolor) !important;
}


/******* 좌측 트게더 메뉴 *******/
#main .menu-wrapper { 
	border: none !important;
	border-radius: 12px;
	background: var(--framebgcolor); 
}

#main .menu-wrapper #fav-shortcut-area > a:hover,
#main .menu-wrapper > a:hover { background-color: var(--maincolor2) !important; }

#main .menu-wrapper>.header { 
	background: var(--maincolor) !important;
	border-radius: 10px 10px 0 0 !important;
}
#main .menu-wrapper #fav-shortcut-area>a,
#main .menu-wrapper>a,
#main .menu-wrapper .spacer {
	border: 2px solid var(--maincolor) !important;
	border-top: none !important;
	border-bottom: none !important;
}
#main .menu-wrapper .spacer { 
	background: var(--bgcolor) !important;
	height: 2px !important;
}
#main .menu-wrapper>a:last-child {
	border-bottom: 2px solid var(--maincolor) !important;
	border-radius: 0 0 10px 10px !important;
}
#main .menu-wrapper>a>em { color: var(--maincolor) !important; }
#main .menu-wrapper #fav-shortcut-area>a>em>i.fa.fa-star { color: var(--maincolor) !important; }

#main #main-content>div.frame {	
	border: none !important;
	border-radius: 10px !important;
	background: transparent !important;
}

#board-info {
	height: auto;
	background: var(--framebgcolor);
	border: 2px solid var(--maincolor);
	border-radius: 10px;
	padding: 10px !important;
	margin: 0px 0px 3px;
}

#board-info h1 {
	margin-top: 12px;
	font-size: 28px;
	border-bottom: 2px solid var(--maincolor);
	width: calc(100% - 100px);
}

#board-info h1>a:hover,
#board-info h1>a:focus {
	color: var(--mainColor);
	transition: 0.2s;
}

#board-info #board-info-bottom { padding-top: 7px; }
#board-info #board-info-bottom a { 
  color: var(--maincolor) !important;
	font-size: 14px;
}

#board-info>img, #board-info>h1,
#board-info>#board-info-bottom {
	float: left!important;
}

#board-info>img#board-info-profile-img {
	width: 80px;
	margin-right: 15px;
	border: 2px solid var(--maincolor);
	border-radius: 8px;
	transition: 0.2s;
}

#board-info>img#board-info-profile-img:hover {
	transform: scale(1.1);
	border-radius: 5px;
}

#board-info #viewers-area #viewers:before {
	content: var(--before);
	cursor: text;
}

#board-info #viewers-area #viewers:after {
	content: var(--after);
	cursor: text;
}

.frame>.frame,
#article-list {
	background: var(--framebgcolor);
	border: 2px solid var(--maincolor);
	border-radius: 10px;
}

#article-list { margin-top: 5px; }

/* 공지 숨기기 버튼 */
#article-list #article-option-area { top: 3px !important; }
#article-list #article-option-area>#article-option-area-toggle-btn {
	/* background: var(--bgcolor); */
	border-radius: 8px !important;
	height: 26px !important;
	margin: 0 18px 0 0 !important;
	padding: 5px 3px 5px 3px !important;
	opacity: 1 !important;
	display: inline-grid !important;
	transition: 0.2s !important;
	-webkit-transition: 0.2s !important;
}
.darkmode #article-list #article-option-area>#article-option-area-toggle-btn { 
	background: var(--maincolor) !important;
}

/* 눈 모양 아이콘을 스위치 모양으로 변경 */
button>.fa-eye:before {
	content: "\f205";
	color: var(--maincolor) !important;
}
button>.fa-eye-slash:before { content: "\f204"; }
.darkmode button>.fa-eye:before { color: var(--bgcolor) !important; }

/* 카테고리 */
#article-list #article-list-category {
	background: transparent !important;
	border-top: none;
	border-bottom: 2px solid !important;
	border-color: var(--maincolor) !important;
}
html.darkmode #article-list #article-list-category{ border-top: none; }

#article-list #article-list-category > a {
	background: transparent !important;
	padding: 10px 15px !important;
	transition: 0.2s !important;
	-webkit-transition: 0.2s !important;
}
@media (min-width: 1400px) {
	#article-list #article-list-category.can-float {
		background: var(--framebgcolor) !important;
		border: 2px solid var(--maincolor) !important;
		max-height: none;
	}
	#article-list #article-list-category.can-float>a { border-bottom: 1px solid var(--bgcolor); }
	#article-list #article-list-category.can-float>a:last-child { border: none; }
	#article-list #article-option-area>#article-option-area-toggle-btn
	{/*
		position:absolute;
		left: -44px;
		top: -45px;*/
	}
}

#article-list #article-list-category > a.nav-link { background: transparent !important; }
#article-list #article-list-category > a.active { color: var(--maincolor) !important; }
#article-list #article-list-category > a:hover {
	background: var(--maincolor) !important;
	color: white !important;
}

/* AD 글자색 */
#article-list>.article-list-row>.item>.list-header>strong { color: var(--maincolor) !important; }

/* 공지 i 아이콘 색 */
span.a-badge i.fa.fa-info-circle { color: var(--maincolor) !important; }

/* 공지 작성자 가리기 */
#article-list>.article-list-row.notice>.item>.list-title>.list-writer { display: none !important; }

/* 게시글 추천 수 */
#article-list>.article-list-row>.item>.list-header>span { background-color: var(--maincolor) !important; }
/* 게시글 댓글 수 */
#article-list>.article-list-row>.item>.list-title>small.comment-count,
/* 게시글 로그인한 작성자 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span { color: var(--maincolor) !important; }
/* 게시글 작성 시간 */
#article-list>.article-list-row>.item>.list-time { Width: 50px !important; }

#article-list>.article-list-row>.item>.list-title>.list-category { padding: 0 10px !important; }
#article-list>.article-list-row>.item>.list-title>.list-category>span {
	text-overflow: clip !important;
	white-space: unset !important;
}

html.darkmode #article-list>.article-list-row:hover,
html.darkmode #article-list>.article-list-row:focus,
#article-list>.article-list-row:hover,
#article-list>.article-list-row:focus {
	background-color: var(--maincolor2) !important;
	transform: scale(1.01);
	transition: 0.2s;
}

#article-list>.article-list-row.hot,
#article-list>.article-list-row.notice {
	background-color: var(--maincolor3) !important;
}

html.darkmode #article-list>.article-list-row.hot:hover,
html.darkmode #article-list>.article-list-row.hot:focus,
html.darkmode #article-list>.article-list-row.notice:hover,
html.darkmode #article-list>.article-list-row.notice:focus,
#article-list>.article-list-row.hot:hover,
#article-list>.article-list-row.hot:focus,
#article-list>.article-list-row.notice:hover,
#article-list>.article-list-row.notice:focus {
	background-color: var(--maincolor5) !important;
}

/* 게시글 본문 */
#article-info {
	background: var(--framebgcolor);
	border: 2px solid var(--maincolor);
	border-bottom: 1px;
	border-radius: 10px 10px 0 0;
	margin-top: 3px;
}

#article-info>h2 {
	margin-top: 5px;
	margin-left: 5px;
}
html.darkmode h2 span.category { color: white !important; }

#article-comment a { color: black; }
html.darkmode #article-comment a { color: white; }

#article-info #article-info-writer,
#article-content-wrapper>.header>#article-time {
	margin-left: 8px;
}

#article-content-wrapper>.header>#article-views {
	margin-right: 8px;
}

#article-content-wrapper {
	padding: 0;
	background: var(--framebgcolor);
	border: 2px solid var(--maincolor);
	border-bottom: 1px;
}

#article-content-wrapper>.header {
	border-top: none !important;
	border-bottom: 2px solid var(--maincolor);
	background: transparent;
}

#article-content-wrapper #article-content {
	margin: 0.5em;
	border: none !important;
}

#article-content-wrapper>.footer {
	border-top: 2px solid var(--maincolor);
	border-bottom: 2px solid var(--maincolor);
	margin-bottom: 3px;
	background: var(--framebgcolor);
}

#article-neighbor-list {
	border: 2px solid var(--maincolor);
	border-radius: 10px;
	background: var(--framebgcolor);
}

#article-neighbor-list>div>a,
#article-neighbor-list>div>span.indicator,
#article-neighbor-list>div>span.author { color: var(--maincolor); }

/* 댓글 */
#article-reply-area {
	padding: 0;
	background: var(--framebgcolor);
	border: 2px solid var(--maincolor);
	border-radius: 0 0 10px 10px;
	margin-top: 3px;
	margin-bottom: 5px;
}

#article-reply-area > .header h5 { color: var(--maincolor) !important; }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > *,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > *{
	color: var(--maincolor) !important;
}

/* 게시글, 댓글 쓰기 상단바 */
.fr-toolbar { border-top: 5px solid var(--maincolor) !important; }
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn { color: var(--maincolor) !important; }

.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
	border-top: 4px solid var(--maincolor) !important;
}

.fr-popup,
.fr-toolbar.fr-top {
	border-top: 2px solid var(--maincolor) !important;
}

h3 { display: none; }
/*
form#articleWriteForm .row.mt-2:before {
	content: "이노냥";
	margin: 12px 18px;
	font-family: inherit;
	line-height: 1.1;
	color: inherit;
	font-size: 23px;
}
*/
html.darkmode textarea.fr-code { color: white; }

form#articleWriteForm {
	margin: -1em -1em 1em;
	background: var(--framebgcolor);
	padding: 3px 10px 10px;
	border: 2px solid var(--maincolor);
	border-radius: 10px;
}
form#image-upload-form {
    margin: 1em -1em -1em;
    background: var(--framebgcolor);
    padding: 5px;
    border: 2px solid var(--maincolor);
    border-radius: 10px;
}

/* 게시글 페이지 */
.pagination>li>a,
.pagination>li>span,
.pagination>li>a:focus,
.pagination>li>span:focus {
	color: var(--maincolor) !important;
	background: transparent !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
	color: white !important;
	background-color: var(--maincolor) !important;
	border-color: var(--maincolor) !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>.active>a:hover,
.pagination>.active>span:hover {
	color: var(--maincolor) !important;
	background-color: white !important;
	border-color: var(--maincolor) !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}
/* 게시글 페이지 끝 */



/* 버튼, 하단 검색 */
.btn.square {
  border: 1px solid !important;
	margin-right: -1px !important;
	border-radius: 3px !important;
}

button.btn.square.btn-default.dropdown-toggle { border-radius: 3px 0 0 3px !important; }
.input-group-btn:last-child>.btn { border-radius: 0 3px 3px 0 !important; }
.input-group-btn i.fa-search { color: var(--btcolor) !important; }

.btn,
select.form-control,
input.form-control {
	box-shadow: inset 0 0 0 0 var(--btcolor) !important;
	border-color: var(--btcolor) !important;
	color: var(--btcolor) !important;
	padding: 5px 12px;
	height: 28px !important;
	background: transparent !important;
	transition: 0.2s !important;
}

.btn[tabindex="-1"], .btn[type="submit"] { padding: 4px 12px !important; }
.vote-btn { height: 32px !important; } 

.btn:hover,
.btn:focus,
select.form-control:hover,
select.form-control:focus,
input.form-control:hover,
input.form-control:focus {
	background: var(--btcolor) !important;
	border-color: var(--btcolor) !important;
	color: white !important;
}

.btn[data-type="up"] { --btcolor: #5cb85c; }
.btn[data-type="down"] { --btcolor: #0275d8; }
.btn-default.best { --btcolor: #efc839; }
.btn-outline-danger { --btcolor: #d9534f; }
.btn-danger { --btcolor: #ff6e6e; }
.btn-info { --btcolor: #5bc0de; }

.btn-primary,
.btn-default,
input.form-control {
	--btcolor: var(--maincolor);
}

select.form-control,
input#title,
.input-group-btn>button#addPollBtn {
	--btcolor: var(--maincolor);
	height: 30px !important;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

div#title_color>input { height: 30px !important; }

input.form-control {
	transition: 0.2s !important;
	-webkit-transition: 0.2s !important;
}

input.form-control:hover,
input.form-control:focus {}

input.form-control::placeholder { color: var(--btcolor) !important; }
input.form-control:hover::placeholder,
input.form-control:focus::placeholder {
	color: white !important;
}

/* 버튼, 하단 검색 끝 */

html.darkmode footer a { color: var(--maincolor); }
a.custom-badge-link { border: none !important; }

/* 상단으로 이동 */ 
/* 사용시 주석 해제 후 url 안에 이미지 주소 입력 */
/* #movetotop img{display:none}
#movetotop {
	display: inline-block;
	opacity: 1;
	background: url();
	width: 120px;
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
} */


/******* 애니메이션 *******/
small.favo i.fa.fa-heart {
	animation: heartbeat 1s infinite;
}

@keyframes heartbeat{
	0% { transform: scale(1); }
	30% { transform: scale(1.25); }
	42% { transform: scale(0.9); }
	60% { transform: scale(1.15); }
	85% { transform: scale(0.95); }
	100% { transform: scale(1); }
}

span.a-badge i.fa.fa-star {
	animation: shiningstar 2s infinite;
	animation-timing-function: linear;
}

@keyframes shiningstar {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
